{% extends 'base.html.twig' %}

{% block title %}My Published Games!{% endblock %}

{% block body %}


<div class="bg-dark-medium-purple h-full min-h-screen p-20">
    <div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">
        {{ form_start(form) }}
        <h1 class="text-4xl">Add a new promotion</h1>
        <br>
        {# add form error #}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
</div>
{% endblock %}