{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="flex items-center justify-around h-screen bg-dark-medium-purple">
		<div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">
			<a href="{{path('app_category_crud_index')}}">Category Crud</a>
		</div>
		<div class="border-gradient border-glow bg-medium-purple text-white p-6 text-xl rounded-md">
			<a href="{{path('app_user_crud_index')}}">User Crud</a>
		</div>
        
	</div>

{% endblock %}
