<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<h1 class="text-3xl text-white fixed top-2 left-2 z-20">Play<span class="text-font-blue">It</span>
		</h1>

		<div class="px-2 h-full w-48 fixed  top-0 left-0 overflow-x-hidden pt-20 text-xl bg-dark-purple text-transparent-white flex flex-col justify-between pb-10">

			<div>
				<h2 class="text-white">Games</h2>

				<ul class="px-2 pt-4">
					<li class="my-2">
						<a href="#" class="hover:text-transparent-hover">Games</a>
					</li>
					<li class="my-2">
						<a href="#" class="hover:text-transparent-hover">My Games</a>
					</li>
					<li class="my-2">
						<a href="#" class="text-white">Cart</a>
					</li>
					<li class="my-2">
						<a href="#" class="hover:text-transparent-hover">Published Games</a>
					</li>
					<li class="my-2">
						<a href="#" class="hover:text-transparent-hover">Profile</a>
					</li>
					<li class="my-2">
						<a href="#" class="hover:text-transparent-hover">Login</a>
					</li>
				</ul>
			</div>

			<a href="/login" class="border-4 rounded-md border-medium-light-purple mx-2 py-1">
				<h2 class="text-xl text-white text-center">Login</h2>
			</a>
		</div>
		<!-- Page content -->
		<div class="ml-48 h-full"> {% block body %}{% endblock %}

			</div>
		</body>
	</html>
