{% extends 'base.html.twig' %}

{% block title %}
    Hello FriendController!
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
        18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5;
        padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {# list all friend in friends #}
        <h1>
            Friends
        </h1>
        <ul>
            {% if (friends|length) == 0 %}
                <li>No friends found</li>
            {% else %}
                {% for friend in friends %}
                    <li>{{ friend.name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
